{% extends 'base.html' %}
{% block content %}
<section class="row">
    <section class="col-12">
    <h1>{{ _("Frequently Asked Questions") }}</h1>

    <details open>
    <summary class="h4">{{_("Why this name?")}}</summary>
    {{_("The name <strong>Libre Captcha</strong> is the project codename and not the final real name of the project. it's also a sort of joke with the well known ReCaptcha from Google. Captcha is now a term under copyright and is difficult to understand or say in other languages. If you got an idea about a good name, do not hesitate <a href=\"%s\">to contact dev team</a>!" % url_for('core.about'))}}
    </details>

    <details open>
    <summary class="h4">{{_("No logo, really?")}}</summary>
    {{_("As LibreCaptcha is a young project with people without <strong>any</strong> drawing/design talent, there is no logo. As for the name, if you have any idea about a great logo, feel free to send it to us!")}}
    </details>

    <details open>
    <summary class="h4">{{_("Why the website is so ugly?")}}</summary>
    {{_("As stated in previous answer, we don't have <strong>any</strong> drawing/design talent. If you have any skill, feel free to contact us!")}}
    </details>

    <details open>
    <summary class="h4">{{_("Why documentation is not here?")}}</summary>
    {{_("As LibreCaptcha is a young project, it's not done yet but we are working on it!")}}
    </details>

    <details open>
    <summary class="h4">{{_("How can I help?")}}</summary>
    {{_("Translation could be helpful too but not really necessary for now. Website and logo design should be great and are very welcome too. For now, we need help on testing the service, in order to see if it's reliable and user firendly enough for people with deficiencies.")}}
    </details>

    <details open>
    <summary class="h4">{{_("How can I contact you?")}}</summary>
    {{_("You can reach us by mail at <strong>librecaptcha (at) mytipy (dot) net</strong>.")}}
    </details>

    </section>
</section>
{% endblock %}
