{% extends 'base.html' %}
{% block content %}
<br /><br /><br />
<section class="row">
    <section class="col-12">
        <form method="POST" action="{{ url_for('Admin.login') }}">
        {{ g.form.csrf_token }}
        {{ g.form.hidden_tag() }}
        {{ g.form.login.label }} {{ g.form.login(size=60) }}
        <br />
        {{ g.form.password.label }} {{ g.form.password(size=60) }}
        <br />
        <input type="submit" class="btn btn-success" value="{{ _("Connect") }}" />
        </form>
    </section>
</section>
{% endblock %}
